.tagshow{
	min-height: 10vh;
}

.tagshow div{

	margin:5px 5px;
	padding: 1px 2px;
	border-bottom: 1px solid black;
	float: left;
	flex-direction: row;
	text-align: center;
}

.tagshow div:hover{
	cursor:pointer;
	border-color: #F76363;
	opacity: 0.8;
	color: red;
}

.titleHide{
	display: none;
}

.tagshow div:hover:before{
	content: "删除"
}